.form-container{
    margin-bottom: 20px;
}
.working-status-heading{
    font-size: 17px;
    margin-bottom: 10px;
    font-family: " "Helvetica Neue", Helvetica, Arial, sans-serif;";
    font-weight: 400;
}
.main-heading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-family: " "Helvetica Neue", Helvetica, Arial, sans-serif;";
    font-weight: 400;
    text-transform: uppercase;
  
}
.bg-container{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background-size: cover;
    height:100vh;
    
}
.error-message{
    color: red;
    font-size: 14px;
    margin-top: 5px;

}